@font-face {
  font-family: Robotos;
  src: url(../FONTS/Roboto-Regular.ttf);
}
@font-face {
  font-family: RobotosMid;
  src: url(../FONTS/Roboto-Medium.ttf);
}


/* UTILITIES */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Robotos !important;
}
html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}
.heroContent h2 {
  font-family: RobotosMid !important;
}
/* NAVBAR STYLING STARTS */
.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background-color: rgb(255, 255, 255);
  color: #000000;
  z-index: 4;
  position: relative;
}

.nav-links a {
  color: #000000;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 600;
}

/* LOGO */
.logo {
  font-size: 32px;
}
.vl {
  border-left: 3px solid #a2a5a285;
  height: 160px;
  position: absolute;
  margin-left: -3px;
  top: 0;
  right: 10px;
}
.vl.dwn {
  bottom: -175px;
  top: auto;
}
.vl.up {
  top: -162px;
}
.contentblog h3 {
  text-transform: uppercase;
}
.logo {
  cursor: pointer;
  z-index: 999999999;
}
/* NAVBAR MENU */
.menu {
  display: flex;
  gap: 1em;
  font-size: 18px;
  z-index: 9999999;
}
.footerMenu .menu {
    gap: 10rem;
}
.menu li:hover {
  transition: 0.3s ease;
  border-bottom: 1px solid rgba(0, 0, 0, 1);
  cursor: pointer;
}

.menu li {
  padding: 5px 14px;
  border-bottom: 1px solid rgba(0, 0, 0, 0);
  transition: 0.3s;
}

/* DROPDOWN MENU */
.services {
  position: relative;
}

.dropdown {
  background-color: rgb(244 244 244);
  padding: 1em 0;
  position: absolute; /*WITH RESPECT TO PARENT*/
  display: none;
  border-radius: 8px;
  top: 35px;
}

.dropdown li + li {
  margin-top: 10px;
}

.dropdown li {
  padding: 0.5em 1em;
  width: 8em;
  text-align: center;
}

.dropdown li:hover {
  background-color: #4c9e9e;
}

.services:hover .dropdown {
  display: block;
}

/* RESPONSIVE NAVBAR MENU STARTS */

/* CHECKBOX HACK */

input[type="checkbox"] {
  display: none;
}

/* HAMBURGER MENU */
.hamburger {
  display: none;
  font-size: 45px;
  user-select: none;
}

/* custom header */
.logo img {
  width: 300px;
}

.callSection {
  display: flex;
  align-items: center;
  text-align: right;
}
/* .no-js .owl-carousel, .owl-carousel.owl-loaded {
  z-index: -2;
} */
.callus {
  padding: 12px;
  align-items: center;
}
a.buttonSubmit.conItem:after {
  content: "";
  height: 80px;
  width: 80px;
  background: url(../Images//Mask\ Group\ 3137.png) no-repeat;
  position: absolute;
  margin-left: -30px;
  background-size: 74px;
  margin-top: -16px;
}
.overup a.buttonSubmit.conItem:after {
  content: "";
  height: 80px;
  width: 80px;
  background: url(../Images//Mask\ Group\ 3137.png) no-repeat;
  position: absolute;
  margin-left: -38px;
  background-size: 77px;
  margin-top: -16px;
}

ul.nav-links {
  margin: 0px 59px;
  z-index: 999999999;
}
.callus {
  background-image: linear-gradient(to right, #b9efff, #009fcf);
  position: absolute;
  top: 0;
  height: 90px;
  display: flex;
  align-items: end;
  margin: 0 -24px;
}
.parent {
  filter: drop-shadow(0px 7px 4px rgba(0, 0, 0, 0.5));
}



.callus span {
  color: #fff;
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 12px;
}

.callSection ul li {
  width: max-content;
}

/* ----hero----- */

.heroImage {
  height: 727px;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: -15;
  /* clip-path: polygon(50% 0%, 100% 0, 100% 43%, 100% 82%, 66% 85%, 32% 90%, 0 100%, 0% 43%, 0 0);
  clip-path: polygon(50% 0%, 100% 0, 100% 43%, 100% 81%, 70% 84%, 39% 89%, 0 100%, 0% 43%, 0 0); */
  /* clip-path: url(#myCurve); */

}
.sectionssss {
  clip-path: url(#myCurve);
}

.heroContent {
  position: absolute;
  transform: translate(-50%, -50%);
  position: absolute;
  top: 37%;
  right: 0%;
  width: 30%;
}

.heroContent h3 {
  font-size: 32px;
  text-align: right;
  font-weight: 400;
}

.heroContent {
  color: #fff;
  text-align: right;
}

.heroContent h2 {
  font-size: 60px;
  font-weight: 300;
}

.heroContent p {
  font-size: 21px;
}

span.allipe3 {
  position: absolute;
  left: -1098px;
  top: -882px;
  height: 300px;
  width: 100%;
  z-index: 999999999999999999;
}

span.allipe3 img {
  width: 100%;
}
.overlay {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(
    to right,
    rgb(255 255 255 / 12%),
    rgb(5 5 5 / 60%)
  );
  z-index: 2;
  cursor: pointer;
}

.contentBg {
  background-repeat: no-repeat;
  background-size: cover;
  height: 351px;
  position: relative;
  background-position-x: 160px;
  background-position-y: -68px;
  margin-top: -107px;
}

.inNercontentBg {
  position: absolute;
  width: 45%;
  text-align: right;
  padding: 30px;
  right: 0;
  bottom: -200px;
  transform: translate(-50%, -50%);
}

.inNercontentBg h2 {
  color: #2969f2;
  font-size: 60px;
  font-weight: 300;
}

.inNercontentBg h3 {
  font-size: 32px;
  text-align: right;
  font-weight: 400;
}

.inNercontentBg p {
  font-size: 21px;
}
.serviveContent {
  padding: 40px;
  z-index: 9999999;
  width: 60%;
}

.serviveContent h2 {
  text-align: right;
  width: fit-content;
  font-weight: 400;
  font-size: 36px;
}

.serviveContent h2 span {
  color: #2969f2;
}

.servUl {
  margin: 12px 30px;
  /* padding: 0px 12px; */
}

.servUl ul li {
  display: flex;
  align-items: center;
  padding: 13px 15px;
  border-bottom: 1px solid #70707066;
}

.servUl ul li h3 {
  font-size: 30px;
  border-bottom: 2px solid #2969f2;
  margin-right: 17px;
}

.servUl ul li p {
  font-size: 17px;
  font-weight: 600;
  text-transform: uppercase;
}

.serviveContent .conItem {
  background: #2969f2;
  width: fit-content;
  padding: 27px 10px;
  color: #fff;
  border-radius: 12px;
  font-size: 12px;
}

.serviveContent .conItem span img {
  width: 20px;
  margin-left: 7px;
  cursor: pointer;
}
.sevicImg img {
  width: 45%;
}

.sevicImg {
  position: absolute;
  left: -308px;
}

.serviceMain {
  position: relative;
  display: flex;
  justify-content: end;
}

.blogMian {
  /* height: 651px; */
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: center;
  margin: 85px 0px;
}
.complexSection img {
  width: 100%;
}
.rightitem {
  position: relative;
}
.fixLeft {
  position: absolute;
  bottom: 0;
  left: 0;
}

.fixLeft img {
  width: 65px;
  z-index: 999999;
}
.barr {
  border-left: 3px solid #c7c7c785;
  height: 2000px;
  position: absolute;
  margin-left: 57px;
}
.fixLeft {
  display: flex;
  align-items: center;
}

.fixLeft span {
  font-size: 61px;
  text-transform: uppercase;
  letter-spacing: 16px;
  margin-left: 10px;
  color: #2969f2;
  font-weight: 300;
}
.uptext {
  position: absolute;
  top: 73px;
}

.lowertext {
  position: absolute;
  bottom: 0;
  right: 90px;
}

.uptext span {
  font-size: 61px;
  text-transform: uppercase;
  letter-spacing: 16px;
  margin-left: 431px;
  color: #adaeb13d;
  font-weight: 300;
}

.lowertext span {
  font-size: 61px;
  text-transform: uppercase;
  letter-spacing: 16px;
  margin-left: 0px;
  color: #adaeb13d;
  font-weight: 300;
}
.flexblog {
  display: flex;
  align-items: center;
  justify-content: center;
}

.itemblog {
  padding: 46px 17px;
}
.barr.qw {
  height: 500px;
  margin-left: 16px;
}
.cardblog {
  width: 33%;
  margin: 0px 16px;
  position: relative;
  border-radius: 20px;
  cursor: pointer;
  z-index: 9999;
}

.cardblog img {
  width: 100%;
}

.contentblog {
  position: absolute;
  bottom: 45px;
  padding: 0px 55px;
  color: #fff;
}
.overup {
  position: absolute;
  background: white;
  width: 60%;
  padding: 55px;
  left: -133px;
  /* box-shadow: rgb(255 255 255) 6px 24px 16px -9px; */
}

.overup p.conItem {
  margin-left: 0;
}

a.buttonSubmit.conItem {
  /* box-shadow: rgb(82 131 255) 0px 3px 47px;
  box-shadow: rgb(41 105 242) 0px 5px 15px; */
}
.overup p.conItem a.buttonSubmit.conItem {
  margin-left: 0px;
}
.complexSection {
  padding: 5rem;
  position: relative;
  display: flex;
  justify-content: center;
}

.rightitem {
  margin-top: 90px;
}
.contentblog h3 {
  margin: 15px 0px;
}

/* ------footer----- */
.mainfootr {
  /* height: 800px; */
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: -78px;
}

.main2footer {
  /* height: 800px; */
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.footerContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 200px 40px;
  color: #fff;
  padding-bottom: 20px;
}

.contactus {
  text-align: center;
}

.contactus h2 {
  font-weight: 400;
}

.contactus h3 {
  color: #2969f2;
  letter-spacing: 6px;
}

p.arrowDown img {
  width: 30px;
}

.buttonSubmit {
  background: #2969f2;
  padding: 22px 44px;
  border-radius: 7px;
  color: #fff;
}

.buttonSubmit img {
  width: 25px;
  margin-left: 8px;
}
.conItem {
  margin: 25px;
}
.logoSection img {
  width: 50%;
  text-align: center;
  margin-bottom: 15px;
}

.logoSection {
  text-align: center;
  padding: 50px 0px;
}

.footerMenu ul li a {
  color: #d1d1d1;
  font-weight: 400;
}

.footerMenu {
  border-top: 1px solid #093bc2;
  border-bottom: 1px solid #093bc2;
  padding: 10px;
  width: 100%;
}
.footerMenu .menu {
  justify-content: center;
}
p.copy {
  margin: 20px;
  color: #d1d1d1;
}
.topLevel {
  position: absolute;
  display: none;
}
.callSection a {
  color: #162784;
}



/* --------------SUB--PAGESSSSS------------------- */
.hero_banner {
  height: 65vh;
  width: 100%;
  background-image: url("../images/banner_img.png");
  background-position: center;
  overflow: hidden;
  background-size: cover;
  position: sticky;
  z-index: -1;
}
.cabin {
  width: 100%;
}
.hero_banner .services_heading {
  position: absolute;
  top: 37%;
  right: 15%;
  color: white;
  font-size: 4rem;
}
.banner_path {
  position: absolute;
  right: -9%;
  margin-top: 90px;
  opacity: 0.6;
  width: 100%;
}
.services_section {
  padding: 0;
  margin: 0;
  z-index: 1;
}

svg {
  padding: 0;
  margin: 0;
  position: absolute;
  margin-top: -22.1%;
  z-index: 1;
}
.section1 {
  padding: 0 10px;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  /* background-color: rebeccapurple; */
}
.section2 {
  padding-top: 80px;
  background-size: cover;
  background-image: url("../images/bg2.png");
  background-position: -14% -144px;
  background-size: 540px;
  background-repeat: no-repeat;
}

.availablity {
  /* width: 34%; */
  flex-basis: 30%;
  /* background-color: rgb(109, 153, 51); */
  margin-top: 90px;
}
.availablity div {
  background-color: #142583;
  text-align: end;
  border-radius: 0 15px 0 15px;
  background-image: url("../images/shadow1.png");
  background-repeat: no-repeat;
  background-position: 100% -30%;
  background-size: 140px;
  padding: 20px 30px 50px 30px;
}
.availablity h3 {
  font-size: 1.8rem;
  color: var(--text);
  letter-spacing: 7px;
  margin: 35px 0 15px 0;
}
.availablity p {
  color: white;
  font-size: 2rem;
  padding: 0;
  margin: 0;
}
.availablity img {
  margin: 20px 40px 0 0;
}

.what_we_do {
  padding: 0 30px;
  /* width: 76%; */
  flex-basis: 65%;
  /* background-color: rgb(215, 249, 0); */
}
.logo_background {
  position: absolute;
  width: 100%;
  right: -13%;
  margin-top: -593px;
  z-index: 1;
}

.description {
  padding: 0 90px 0 0;
  font-size: 1.1rem;
  color: grey;
}
.what_we_do > p:nth-child(1) {
  font-size: 2.5rem;
  padding: 0;
  margin: 0;
}

.what_we_do > p:nth-child(2) {
  font-size: 3.1rem;
  padding: 0;
  margin: 0;
  color: var(--text);
}
/* APPLYING MEDIA QUERIES */

@media (max-width:2560px) {
  .barr {
    border-left: 3px solid #c7c7c785;
    height: 2684px;
  }
  .contactus {
    font-size: 30px;
}

.logoSection p {
    font-size: 25px;
}

p.copy {
    font-size: 20px;
}

p.arrowDown img {
    width: 45px;
}
  .overup p {
    font-size: 27px;
    text-align: justify;
}
  .heroContent h3 {
    font-size: 67px;
    font-weight: 300;
}

.heroContent h2 {
    font-size: 100px;
}

.heroContent p {
    font-size: 31px;
    margin-top: 18px;
}

.vl {
    height: 365px;
}

.vl.up {
    top: -352px;
}

.vl.dwn {
    bottom: -454px;
    height: 450px;
}


span.allipe3.allipe4 {
  position: absolute;
  left: -1638px;
  top: -1525px;
  height: 300px;
  width: 100%;
  z-index: 3;
}

span.allipe3 {
  position: absolute;
  left: -1976px;
  top: -1478px;
  height: 300px;
  width: 100%;
  z-index: 0;
}

.menu {
  gap: 10rem;
}

ul.nav-links {
  z-index: 999999999999999999999999999999999;
}

.heroImage {
  height: 1400px;
}
.sectionssss{
  height: 1400px;
}

.contentBg {
  background-repeat: no-repeat;
  background-size: cover;
  height: 444px;
  position: relative;
  background-position-x: 224px;
  background-position-y: -91px;
  margin-top: -275px;
}

.overup {
  width: 60%;
  padding: 129px 120px;
  left: -301px;
}

.barr.qw {
  height: 601px;
  margin-left: 16px;
  margin-top: 154px;
}

.nav-links a {
  font-size: 27px;
}

.contentblog {
  font-size: 36px;
  width: 70%;
}

.servUl ul li p {
  font-size: 24px;
}

.sevicImg {
  left: -660px;
  top: -214px;
}

.footerContent {
  padding: 313px 40px;
  padding-bottom: 20px;
}
.inNercontentBg h3 {
  font-size: 60px;
  font-weight: 300;
}

.inNercontentBg h2 {
  font-size: 100px;
}

.inNercontentBg p {
  font-size: 28px;
}
.overup p {
  font-size: 27px;
  text-align: justify;
}

.servUl ul li p {
  font-size: 33px;
  margin-left: 36px;
  font-weight: 400;
}

.servUl ul li h3 {
  font-size: 45px;
}

.serviveContent .conItem {
  font-size: 25px;
}

.sevicImg img {
  width: 82%;
}
.serviveContent h2 {
  font-weight: 300;
  font-size: 73px;
}

.servUl ul li h3 {
  font-size: 50px;
}

.servUl ul li {
  align-items: baseline;
  padding: 28px 15px;
}

.servUl ul li p {
  font-size: 30px;
  margin-left: 36px;
  font-weight: 500;
}
.heroImage.subpages {
  height: 850px;
  background-position-y: -366px;
}

.heroImage.subpages .heroContent {
  bottom: 149px;
  top: initial;
}

.section1 {
  padding: 0 160px;
}

.what_we_do > p:nth-child(1) {
  font-size: 3rem;
}

.what_we_do > p:nth-child(2) {
  font-size: 5rem;
  color: #2969F2;
}

.description p {margin-bottom: 30px;font-size: 26px;}

.availablity div {
  padding: 49px 20px;
}
.description h3 {
  margin-bottom: 15px;
}
.availablity h3 {color: #2969F2;}
section.sectionssss.servv {
  clip-path: url(#myCurve);
  height: 850px;
}
}

@media (max-width: 1920px) {
  .barr {
    height: 2000px;
}
  .contentBg {
    background-position-y: -58px;
    margin-top: -148px;
}
  .contactus {
    font-size: 18px;
}
.overup p {
  font-size: 20px;
  text-align: justify;
}

.logoSection p {
    font-size: 18px;
}
  .heroImage {
    height: 1000px;
}
.sectionssss{
  height: 1000px;
}

  .menu{
    gap: 7rem;
}
.contentblog {
  font-size: 20px;
}

.nav-links a {
    font-size: 15px;
}



.overup {
    width: 60%;
    padding: 55px;
    left: -133px;
}

.servUl ul li p {
    font-size: 17px;
}

.footerContent {
    padding: 200px 40px;
    padding-bottom: 20px;
}
    span.allipe3 {
      position: absolute;
      left: -1345px;
      top: -1140px;
      height: 300px;
      width: 100%;
      z-index: 999999;
    }
    span.allipe3.allipe4 {
      position: absolute;
      left: -1076px;
      top: -1124px;
      width: 100%;
      z-index: 3;
    }
  .heroContent {
    right: 10%;
  }
  .barr.qw {
    height: 551px;
    margin-left: 16px;
    margin-top: 60px;
}
.heroContent h3 {
  font-size: 50px;
  font-weight: 300;
}

.heroContent h2 {
  font-size: 75px;
}

.heroContent p {
  font-size: 30px;
  margin-top: 18px;
}
.inNercontentBg h3 {
  font-size: 48px;
  font-weight: 300;
}

.inNercontentBg h2 {
  font-size: 50px;
}

.inNercontentBg p {
  font-size: 20px;
}
.description p {
  font-size: 18px;
}

.what_we_do > p:nth-child(2) {
  font-size: 4rem;
}

.what_we_do > p:nth-child(1) {
  font-size: 2rem;
}

.heroImage.subpages {
  height: 500px;
}

.availablity p {
  font-size: 2rem;
}
.logo_background {

  margin-top: -509px;
}
.section1 {
  padding: 0 40px;
}
section.sectionssss.servv {
  height: 490px;
}
}
@media (max-width: 1600px) {

  .heroImage.subpages {
    height: 500px;
  }
  .heroImage.subpages .heroContent {
    bottom: 86px;
    top: initial;
}
  
  .overup p {
    font-size: 19px;
    text-align: justify;
}
.sevicImg {
  left: -602px;
  top: -214px;
}
.sevicImg img {
  width: 70%;
}

.serviveContent .conItem {
  font-size: 17px;
}
.servUl ul li h3 {
  font-size: 32px;
}
  .heroImage {
    height: 840px;
}
.sectionssss {
  height: 840px;
}

    span.allipe3 {
      position: absolute;
      left: -1229px;
      top: -898px;
      height: 300px;
      width: 100%;
    }
  .heroContent {
    right: 0%;
  }
  .menu {
    gap: 4rem;
}
  .inNercontentBg {
    right: -196px;
  }
  span.allipe3.allipe4 {
    position: absolute;
    left: -576px;
    top: -659px;
    height: 273px;
    width: 76%;
    z-index: 3;
}
.heroContent h3 {
  font-size: 43px;
  font-weight: 300;
}

.heroContent h2 {
  font-size: 65px;
}

.heroContent p {
  font-size: 25px;
  margin-top: 18px;
}
.availablity p {
  font-size: 1.3rem;
}

.description p {
  font-size: 16px;
}
.logo_background {

  margin-top: -436px;
}
}

@media (max-width: 1440px) {
  .overup p {
    font-size: 15px;
    text-align: justify;
}
  span.allipe3 {
    position: absolute;
    left: -1144px;
    top: -768px;
    height: 300px;
    width: 100%;
  }
  span.allipe3.allipe4 {
    position: absolute;
    left: -549px;
    top: -608px;
    height: 273px;
    width: 76%;
    z-index: 3;
}
.menu {
  gap: 2rem;
}
.heroContent h2 {
  font-size: 60px;
}
.inNercontentBg h3 {
  font-size: 40px;
  font-weight: 300;
}

.inNercontentBg h2 {
  font-size: 45px;
}

.inNercontentBg p {
  font-size: 17px;
}
.inNercontentBg {
  right: -136px;
}
}
@media (max-width: 1366px) {
  a.buttonSubmit.conItem {
    font-size: 12px;
  }

  .heroContent {
    width: 34%;
  }
  span.allipe3 {
    position: absolute;
    left: -1147px;
    top: -704px;
    height: 300px;
    width: 100%;
}
.blogMian {
  margin: 5px 0px;
}
span.allipe3.allipe4 {
    position: absolute;
    left: -499px;
    top: -537px;
    height: 273px;
    width: 76%;
    z-index: 3;
}
  .inNercontentBg {
    width: 50%;
    right: -143px;
  }
  .heroContent h3 {
    font-size: 40px;
    font-weight: 300;
  }
  
  .heroContent h2 {
    font-size: 58px;
  }
  
  .heroContent p {
    font-size: 22px;
    margin-top: 18px;
  }
  .barr {
    border-left: 3px solid #c7c7c785;
    height: 1798px;
  }
  .contentBg {
    height: 254px;
    margin-bottom: 50px;
}
.buttonSubmit {
    padding: 18px 17px;
}
.overup a.buttonSubmit.conItem:after {
    background-size: 55px;
}
.contentblog {
    width: 100%;
}
.serviveContent h2 {
    font-size: 50px;
}

.barr {
    height: 1587px;
}
}

@media (max-width: 1024px) {
  section.sectionssss.servv {
    height: 250px;
  }
  .heroImage.subpages .heroContent {
    bottom: 270px;
    top: initial;
}
.description {
  padding: 0 21px 0 0;
  font-size: 1.1rem;
  color: grey;
}
  .contactus {
    font-size: 15px;
}

.logoSection p {
    font-size: 15px;
}

p.copy {
    font-size: 15px;
}

p.arrowDown img {
    width: 33px;
}
  .heroContent {
    top: 37%;
    right: -10%;
    width: 50%;
  }
  .footerMenu .menu {
    gap: 8rem;
}
  .barr {
    height: 1208px;
  }
  .barr.qw {
    height: 500px;
    margin-left: 47px;
}
  .contentBg {
 
    height: 119px;
  }

  .logo img {
    width: 100%;
  }
  .overup {
    width: 100%;
  }
  nav.navbar {
    padding: 10px 40px;
  }

  .nav-links a {
    font-size: 12px;
  }

  .callus {
    height: 54px;
    font-size: 12px;
  }

  .callus span {
    font-size: 12px;
  }
  span.allipe3 {
    position: absolute;
    left: -406px;
    top: -294px;
    height: 295px;
    width: 52%;
  }
  .sevicImg {
    left: -476px;
    top: -39px;
}
  span.allipe3.allipe4 {
    position: absolute;
    left: -492px;
    top: -435px;
    height: 273px;
    width: 76%;
    z-index: 3;
}
.contentBg {
  height: 227px;
  position: relative;
  background-position-x: 227px;
  background-position-y: -43px;
  margin-top: -112px;
}
.contentblog {
  font-size: 14px;
  width: 100%;
}
.barr.qw {
  margin-top: 28px;
  height: 482px;
}
  .inNercontentBg {
    width: 73%;
    transform: inherit;
    bottom: 0;
    top: 0;
    right: 118px;
  }
  .inNercontentBg h2 {
    font-size: 40px;
  }
  .sevicImg img {
    width: 64%;
}
.buttonSubmit {
  background: #2969f2;
  padding: 16px 20px;
  border-radius: 7px;
  color: #fff;
}
.overup a.buttonSubmit.conItem:after {

  background-size: 58px;
}
.serviveContent .conItem {

  padding: 22px 3px;
}
a.buttonSubmit.conItem:after {
  
  background-size: 60px;
}
}
@media (max-width: 768px) {
  .menu {
    display: none;
    position: absolute;
    background-color: rgb(255, 255, 255);
    right: 0;
    left: 0;
    text-align: center;
    margin: 16px 0;
  }

  .menu li:hover {
    transition: 0.3s ease;
    border-bottom: 1px solid rgba(0, 0, 0, 1);
    cursor: pointer;
  }

  .menu li {
    border-bottom: 1px solid rgba(0, 0, 0, 1);
    transition: 0.3s;
  }

  .menu li + li {
    margin-top: 12px;
  }

  input[type="checkbox"]:checked ~ .menu {
    display: block;
  }

  .hamburger {
    display: block;
  }

  .dropdown {
    left: 50%;
    top: 30px;
    transform: translateX(35%);
  }

  .dropdown li:hover {
    background-color: #4c9e9e;
  }
  .callSection {
    display: none;
  }

  .logo img {
    width: 270px;
  }

  ul.nav-links {
    margin: 0 29px;
  }
  .callSection {
    display: none;
  }
  .heroContent {
    width: 100%;
    left: 0;
    transform: inherit;
    text-align: end;
    bottom: 0;
    padding: 14px;
    top: 60%;
  }

  .heroContent h3 {
    text-align: end;
    font-size: 21px;
  }

  .heroContent h2 {
    font-size: 45px;
    font-weight: 400;
  }
  .callus {
    height: 54px;
    font-size: 12px;
  }

  .callSection ul.nav-links {
    margin: 9px;
    margin-left: 55px;
  }

  .callSection {
    display: flex;
    position: absolute;
    top: 8px;
    align-items: center;
    right: 26px;
    z-index: 999999999;
  }

  .callSection .nav-links a {
    font-size: 20px;
    color: #162784;
  }

  span.allipe3 {
    position: absolute;
    left: -136px;
    top: -105px;
    height: 294px;
    width: 61%;
  }
  span.allipe3.allipe4 {
    position: absolute;
    left: -199px;
    top: -80px;
    height: 273px;
    width: 100%;
    z-index: 3;
}
  nav.navbar {
    padding-top: 50px;
  }
  .footerContent {
    padding: 150px 10px;
    padding-bottom: 10px;
  }
  .mainfootr {
    background-position-x: -261px;
}

.main2footer {
    background-position-x: -486px;
}
.section1 {
  padding: 0 7px;
}

  .footerMenu {
    display: none;
  }

  p.copy {
    text-align: center;
  }
  .topLevel {
    position: absolute;
    display: block;
    left: 0;
    right: 0;
    text-align: center;
    top: 37px;
    cursor: pointer;
  }

  .topLevel a img {
    width: 70px;
  }
  .serviveContent h2 {
    width: 100%;
  }

  .servUl {
    margin: 12px 0px;
  }

  .servUl ul li {
    display: block;
  }

  .servUl ul li p {
    text-align: right;
    letter-spacing: 1px;
  }

  .servUl ul li h3 {
    text-align: right;
    margin: 8px 0px;
    /* width: fit-content; */
  }

  .serviveContent .conItem {
    margin: 0 auto;
    padding: 16px 12px;
  }

  .sevicImg {
    position: absolute;
    left: -265px;
    top: -100px;
    z-index: -4;
  }
  .serviveContent {
    width: 100%;
    padding: 70px 20px;
  }
  .inNercontentBg {
    width: 100%;
  }
  .sevicImg img {
    width: 85%;
  }
  .inNercontentBg p {
    font-size: 20px;
  }
  .blogMian {
    background-size: inherit;

    margin: 5px 0px;
  }
  .complexSection {
    padding: 0;
  }
  .fixLeft {
    position: absolute;
    bottom: -263px;
    left: 0;
  }
  .uptext {
    position: inherit;
    top: 0;
    width: 100%;
    margin: 14px;
  }
  .uptext span {
    font-size: 30px;
    margin-left: 21px;
  }
  .lowertext {
    position: absolute;
    bottom: -292px;
    right: 0;
  }
  label.hamburger {
    border: 2px solid #000;
    border-radius: 12px;
    padding: 0px 7px;
  }
  .callSection ul li {
    width: auto;
  }
  .lowertext span {
    font-size: 35px;

    margin-left: 0;
  }
  .rightitem {
    margin-top: 90px;
  }
  .overup {
    top: -158px;
  }
  .itemblog {
    padding: 17px;
    margin-top: 282px;
  }
  .flexblog {
    display: block;
  }
  .cardblog {
    width: 100%;
    margin: 0;
  }
  .complexSection {
    display: block;
  }

  .overup {
    top: -200px;
    left: 0;
    width: 100%;
    padding: 35px;
  }

  .fixLeft span {
    font-size: 45px;
  }
  .contentblog {
    padding: 12px;
    font-size: 22px;
  }
  .borderss {
    display: flex;
    justify-content: end;
  }
  .inNercontentBg {
    right: 0;
  }
  .barr {
    display: none;
}

.vl {
    display: none;
}
.contentBg {

  background-position-x: -183px;
}

.sectionssss{
  clip-path: polygon(36% 0, 59% 0, 100% 0, 100% 94%, 72% 93%, 51% 92%, 29% 92%, 0 91%, 0 0);

}
section.sectionssss.servv {
  clip-path: polygon(36% 0, 59% 0, 100% 0, 100% 94%, 72% 93%, 51% 92%, 29% 92%, 0 91%, 0 0);
}
.heroImage {
  /* clip-path: polygon(36% 0, 59% 0, 100% 0, 100% 94%, 72% 93%, 51% 92%, 29% 92%, 0 91%, 0 0); */
  /* clip-path: url(#myCurveMob); */
}
.heroImage.subpages {
  height: 550px;
  background-position-y: unset;
}
section.sectionssss.servv {
  height: 500px;
}
.contentBg {
  margin: 0;
  height: 400px;
}
.overup .conItem {
  position: absolute;
  width: 73%;
  bottom: -183px;
  padding: 20px 30px;
  left: 40px;
  right: 0;
}
.overup a.buttonSubmit.conItem:after {
  content: "";
  height: 80px;
  width: 80px;
  background: url(../Images//Mask\ Group\ 3137.png) no-repeat;
  position: absolute;
  margin-left: -23px;
  background-size: 56px;
  margin-top: -16px;
}
a.buttonSubmit.conItem:after {

  margin-left: -37px;

}

}
/* -----SUBPAGES------ */
.grid-container > .grid-item:nth-child(1) p:nth-child(2) {
  color: #2969F2;
  font-weight: 200;
}


.grid-container > .grid-item:nth-child(1) p:nth-child(1) {
  font-weight: 200;
}

.what_we_do > p:nth-child(2) {
  font-weight: 200;
}

.what_we_do > p:nth-child(1) {
  font-weight: 200;
}

@media (max-width: 1216px) {

  .availablity {
    flex-basis: 35%;
  }
  .what_we_do {
    flex-basis: 55%;
  }
}
@media (max-width: 924px) {
  .availablity {
    flex-basis: 40%;
  }
  .what_we_do {
    flex-basis: 50%;
  }
}
@media (max-width: 700px) {
  .availablity {
    flex-basis: 100%;
  }
  .availablity img {
    margin: 0;
  }

  .what_we_do {
    flex-basis: 100%;
    margin-top: 40px;
  }
  .description {
    padding: 10px;
  }
  .availablity div {
    text-align: center;
  }
  .hero_banner .services_heading {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -20px;
    transform: translate(-50%, -50%);
    font-size: 2.5rem;
  }
  .banner_path {
    margin-top: 115%;
  }
  svg {
    margin-top: -22%;
  }
}

.grid-container {
  padding: 10px 150px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 2fr));
  grid-gap: 10px;
}

.grid-item {
  border: 2px solid #152683;
  text-align: center;
  border-radius: 15px;
  padding: 0 20px;
}
.grid-item h2 {
  margin: 30px 0 10px 0;
}
.grid-container > .grid-item:nth-child(1) {
  border: 0;
  text-align: start;
}
.grid-container > .grid-item:nth-child(1) p:nth-child(1) {
  font-size: 2.5rem;
  padding: 0;
  margin: 0;
}
.grid-container > .grid-item:nth-child(1) p:nth-child(2) {
  font-size: 3.1rem;
  padding: 0;
  margin: 0;
  color: #2969F2;
}
.grid-item img {
  width: 43%;
  height: 85px;
  margin-bottom: 10px;
}
.grid-item span {
  width: 100%;
  display: block;
  margin-top: -18px;
  z-index: -1;
  border-bottom: 4px solid black;
}
.count {
  text-align: start;
  font-size: 40px;
  padding: 0;
  margin: 0;
  font-weight: bold;
  text-decoration: underline;
  text-decoration-color: #2969F2;
}
@media (max-width: 786px) {
  .grid-container {
    padding: 10px 30px;
  }
}
@media (max-width: 443px) {
  .grid-container {
    padding: 10px 10px;
  }
  .what_we_do {
    padding: 15px;
  }
}
